#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contatos > p{
    margin-bottom: 10px;
}

.icons-contact{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.icon-contact{
    font-size: 25px;
    color: var(--text-name);
    cursor: pointer;
    transition-duration: 0.3s;
}

.icon-contact:hover{
    transform: scale(1.2);
    opacity: 0.7;
}

.form-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 430px;
    width: 100%;
}

#contatos > h2{
    font-size: 30px;
    font-weight: 800;
    color: var(--text-color);
}

.form-contact > input, .form-contact > textarea{
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 14px;
    transition-duration: 0.7s;
    border: 1px solid var(--color-project);
}

.form-contact > button{
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--text-alternative);
    font-size: 14px;
    transition-duration: 0.7s;
    border: 1px solid var(--color-project);
}

.form-contact > input:focus, .form-contact > button:focus, .form-contact > textarea:focus{
    transform: scale(1.01);
    border: 1px solid var(--text-color);
}

.form-contact > input, .form-contact > textarea{
    background-color: var(--color-project);
}

.form-contact > textarea{
    height: 200px;
    resize: none;
}

.form-contact > button{
    background-color: var(--text-name);
}

.form-contact > button:hover{
    opacity: 0.7;
    transform: scale(1.01);
}


