#habilidades{
    text-align: center;
}

#habilidades > div {
    justify-content: center;
    text-align: center;
}

.frontend{
    grid-column: 1 / span 4;
}

.backend{
    grid-column: 5 / span 4;
}

.tools{
    grid-column: 9 / span 4;
}

.frontend > p, .backend > p, .tools > p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.frontend, .backend, .tools{
    border: 1px solid var(--text-name);
    border-radius: 5px;
    padding: 40px 0px;
}

.title-skills{
    font-size: 40px;
    margin-bottom: 15px;
}
.skill-icon{
    font-size: 40px;
    color: var(--text-name);
}

@media screen and (max-width: 1300px){
    .frontend, .backend, .tools{
        max-width: 400px;
        width: 100%;
        padding: 50px 20px;
        margin: auto;
    }
    #habilidades > .grid-12{
        margin: auto;
    }

}