#projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.projects{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 870px;
    margin: auto;
}

.project-box{
    text-align: start;
    width: 430px;
    background-color: var(--color-project);
    border-radius: 5px;
}

.project-box > img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.project-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.project-text > h2{
    font-weight: 700;
    font-size: 30px;
    color: var(--text-color);
}

.project-text > p{
    font-weight: 500;
    font-size: 16px;
}

.align-button{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.project-button{
    padding: 10px 15px;
    border-radius: 5px;
    color: var(--text-color);
}

.color-blue{
    background-color: var(--text-name);
}
.color-red{
    background-color: var(--color-button);
}