@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500;10..48,700;10..48,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}
:root{
    --color-bg: #1E1E20;
    --color-bg-lite: #272125;
    --color-navbar: #111111;
    --color-button: #E74C3C;
    --color-form: #524D51;
    --text-color: #FFFFFF;
    --text-name: #7B92FF;

}
body{
    background-color: var(--color-bg);
}

h1{
    font-weight: 800;
    color: var(--text-color);
}

p{
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
}

a{
    text-decoration: none;
}

.color-lite{
    background-color: var(--color-bg-lite);
}

.icon{
    font-size: 24px;
    color: var(--color-button);
    padding-right: 10px;
}
