@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500;10..48,700;10..48,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}
:root{
    --color-bg: #1E1E20;
    --color-navbar: #111111;
    --color-project: #121212;
    --color-button: #FF7A8E;
    --text-color: #FFFFFF;
    --text-name: #7B92FF;

}
body{
    background-color: var(--color-bg);
}

section{
    padding-top: 60px;
}

section > h1{
    font-size: 50px;
    grid-column: 1 / span 12;
    margin-bottom: 40px;
}

h1{
    font-weight: 800;
    color: var(--text-color);
}

p{
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
}

a{
    text-decoration: none;
}

.grid-12{
    display: grid;
    grid-template-columns: repeat(12, 100px);
    gap: 10px;
}

.color-lite{
    background-color: var(--color-bg-lite);
}

.icon{
    font-size: 24px;
    color: var(--color-button);
    padding-right: 10px;
}
