@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --color-bg: #1E1E20;
    --color-bg-lite: #272125;
    --color-button: #E74C3C;
    --color-form: #524D51;
    --text-color: #FFFFFF;

}
body{
    background-color: var(--color-bg);
}

h1{
    font-weight: 700;
    font-size: 40px;
    color: var(--text-color);
}

p{
    font-weight: 500;
    font-size: 24px;
    color: var(--text-color);
}

.color-lite{
    background-color: var(--color-bg-lite);
}

.icon{
    font-size: 30px;
    color: var(--color-button);
    padding-right: 10px;
}
